/* import font */
/* @import url(https://fonts.googleapis.com/css?family=Crimson+Pro); */

.container {
    top: 0;
    position: relative;
    display: flex;
    margin: 30%;
    height: 100px;
    width: 40%;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    align-content: center;    
}
.logo {
    min-height: 120px;
    background-position: center;
    background-size: cover;
    background-image: url('../../Images/KnowMe.png');
    padding: 1rem;
    margin: 0;
    flex: 1;
}
.one-line-header {
    font-family: 'Crimson Pro', serif;
    color: black;  
    font-size: 1.5rem;
    font-weight: bolder;
    flex: 1;
    text-align: center; 
    /* margin-bottom: 20px; */
    /* padding-top: 50px; */
} 
.mission-statement {
    font-family: 'Crimson Pro', serif; 
    color: black;   
    font-size: 1rem;
    font-weight: 200;
    flex: 1;
    text-align: center;   
    /* margin-bottom: 100px;  */
} 

/* Just for references */
.buttons {
    position: relative;
    margin: 10px 100px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 #222222;
    padding: 10px 5px;
    background:radial-gradient(ellipse at center, rgba(235,0,235,1) 0%, rgba(145,0,145,1) 38%, rgba(0,0,0,1) 100%);
    color: #fff;
}

/**************** Media Queries **************/
/* @media only screen and (max-width: 1440px) {
    .logo {
        min-height: 120px;
    }
    .container {
        height: 5vh;
    }
    .one-line-header {
        font-size: 1.8rem;
        margin-bottom: 20px;
        padding-top: 40px;
    }
    .mission-statement {
        font-size: 1.2rem;
        margin-bottom: 50px; 
    }
    .buttons {
        position: relative;
        margin: 6px 160px;
        font-size: 1.2rem;
        padding: 6px 2px;
    }  */
/* }
@media (max-width: 1024px) {
    .logo {
        min-height: 100px;
        padding: 1rem;
    }
    .container {
        height: 30vh;
    }
    .one-line-header {
        font-size: 1.4rem;
        margin-bottom: 20px;
        padding-top: 40px;
    } 
    .mission-statement {
        font-size: 1.1rem;
        margin-bottom: 60px; 
    }
    .buttons {
        position: relative;
        margin: 6px 80px;
        font-size: 1rem;
        padding: 6px 2px;
    }

} */