/* import font */
/* @import url(https://fonts.googleapis.com/css?family=Crimson+Pro); */

.buttonClass {
    padding: 5px !important;
    margin: 10px 100px !important;
}

.container {
    /* top: 1rem; */
    /* position: fixed; */
    display: flex;
    /* margin: 30%; */
    /* height: 6.25rem; */
    /* width: 40%; */
    flex-direction: column;
    /* align-self: center; */
    /* justify-content: space-around; */
    /* align-content: center; */
    /* padding-bottom: 5rem; */
    max-width: 405px;
    margin: 40px auto;
}
.logo {
    min-height: 7.5rem;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-image: url('../../Images/KnowMe.png');
    padding: 1rem;
    margin: 0;
    flex: 1;
}
.one-line-header {
    font-family: 'Crimson Pro', serif;
    color: black;  
    font-size: 1.5rem;
    font-weight: bolder;
    flex: 1;
    text-align: center; 
    /* margin-bottom: 20px; */
    /* padding-top: 50px; */
} 
.mission-statement {
    font-family: 'Crimson Pro', serif; 
    color: black;   
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
    text-align: center;
    /* margin-bottom: 100px;  */
} 


/**************** Media Queries **************/

/* @media (max-width: 425px) and (min-width: 400px ) {

    .buttonClass {
        margin: 10px !important;
    }
    .container {
        top: 40%
    }
}

@media (max-width: 399px) and (min-width: 340px ) {

    .buttonClass {
        margin: 10px !important;
    }
    .container {
        top: 50%;
    }
}

@media (max-width: 339px) {

    .buttonClass {
        margin: 10px !important;
    }
    .container {
        top: 55%;
    }
}

@media (max-width: 620px) and (min-width: 480px ) {

    .buttonClass {
        margin: 10px !important;
    }
    .container {
        top: 30%
    }
}

@media (max-width: 480px) and (min-width: 426px ) {

    .buttonClass {
        margin: 10px !important;
    }
    .container {
        top: 40%;
    }
    
}

@media (max-width: 768px ) and (min-width: 620px ) {

    .buttonClass {
        margin: 10px !important;
    }

    .container {
        top: 20%
    }
}

@media (max-width: 830px ) and (min-width: 769px ) {

    .container {
        top: 20%
    }
} */