body {
  background: url(./Images/question.png);
  background-position: fixed;
<<<<<<< HEAD
  /* background-size: 100vh 100vw;   */
=======
  background-repeat: no-repeat;
>>>>>>> a629239cd83f0d8adbfe6c0c02dc95b488725477
  background-attachment: fixed;
  background-size: cover;
     

   
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}