.button {
    text-decoration: none;
    color: white;
}
/* .button:hover {
    
} */
@media (max-width: 425px) {

.MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary {
    margin: 10px;
}
}